package.json
package-lock.json
dist
packages
*.yml
*.html
*.min.*
*.bundle.*
*.less
*.gql.ts
**/*.graphql.ts
/imports/generated
/.meteor
/public/bundle
/translations
/imports/api/note-event-detection/audio/**/*.json
/public/soundfont-splendid-grand-piano*
/public/tflite*
